body {
    background-color: #FFCE00;
    color: #0375b4;
}
.button {
    background-color: yellowgreen;
    color: aliceblue;
    padding: 10px;
}
.color-par {
    background: blue;
}
.color-non {
    background: green;
}